<h1>Update Comment</h1>

<%= form_for(@comment, 
    :url => update_section_document_comment_path(@record.medical_record_number, @section_name, @entry, @comment)) do |f| %>
	<%= render :partial => 'form', :locals => {:comment => @comment, :f => f} %>
  <div class="actions">
    <%= f.submit "Update" %> |
    <%= link_to "Cancel", section_document_comments_path(@record.medical_record_number, @section_name, @entry) %>
  </div>
<% end %>